@charset "utf-8";

@import url('//fonts.googleapis.com/css?family=Avenir:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Avenir", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$radius: 0;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "~bulma";


.todos {
  .todo {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $primary;

    &:hover {
      cursor: pointer;
    }


    &--complete {
      line-height: 0;

      & input {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    &--name {
      font-size: 1rem;
      font-weight: lighter;
      width: 100%;
      padding: 0 0.5rem;
      text-align: center;
    }
  }
}